* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: "Vogue";
  src: url("../font/Empire.ttf") format("truetype");
}
@font-face {
  font-family: "Astral_Studio";
  src: url("../font/Astral_Studio.ttf") format("truetype");
}
body {
  width: 100%;
  background-image: url("../img/long_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.popup {
  background-color: rgba(0, 0, 0, 0.849);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.popup img {
  display: none;
}
@media (max-width: 575px) {
  .popup img {
    width: 100%;
  }
}

.landingmain {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.landingmain .navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
.landingmain .navs .icons {
  overflow: hidden;
}
.landingmain .navs .icons img {
  width: 65px;
  left: -100px;
  position: relative;
  transition: 0.4s;
}
.landingmain .navs .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 40px;
  font-size: large;
  overflow: hidden;
}
.landingmain .navs .menu a {
  top: -100px;
  position: relative;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}
.landingmain .navs .menu a:hover {
  color: #feb066;
}
.landingmain .navs .contact .memberbtn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: 0;
  color: #16433f;
  background-color: #feb066;
  display: none;
}
.landingmain .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
.landingmain .content .sides {
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 100px;
}
.landingmain .content .sides:nth-child(1) {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.landingmain .content .sides:nth-child(1) .headercontent:nth-child(1) {
  flex: 1;
  padding: 10px;
}
.landingmain .content .sides:nth-child(1) .headercontent:nth-child(1) h3 {
  font-family: "Astral_Studio";
  font-size: 35px;
}
.landingmain .content .sides:nth-child(1) .headercontent:nth-child(1) h1 {
  font-family: "Vogue";
  font-size: 50px;
  line-height: 50px;
}
.landingmain .content .sides:nth-child(1) .headercontent:nth-child(1) p {
  text-indent: 10px;
  margin-top: 10px;
  width: 300px;
  text-align: justify;
}
@media (max-width: 1244px) {
  .landingmain .content .sides:nth-child(1) .headercontent:nth-child(1) h1 {
    font-family: "Vogue";
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 535px) {
  .landingmain .content .sides:nth-child(1) .headercontent:nth-child(1) p {
    width: 100%;
  }
}
.landingmain .content .sides:nth-child(1) .headercontent:nth-child(2) {
  position: relative;
  flex: 1.2;
  padding: 10px;
}
.landingmain .content .sides:nth-child(1) .headercontent:nth-child(2) .profile_img {
  position: relative;
  width: 350px;
  height: 350px;
  margin-left: 50px;
  border-radius: 15px;
  background-image: url("../img/profile.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.landingmain .content .sides:nth-child(1) .headercontent:nth-child(2) .profile_img .circle {
  position: absolute;
  top: 200px;
  right: -66px;
  width: 140px;
  height: 140px;
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 7;
  opacity: 0.6;
  animation: spin 57s linear infinite; /* Adjust the duration (5s) and timing function (linear) as needed */
}
.landingmain .content .sides:nth-child(2) {
  flex: 1;
}
@media (max-width: 796px) {
  .landingmain .navs .menu {
    display: none;
  }
  .landingmain .navs .contact .memberbtn {
    display: none;
  }
}

@media (max-width: 950px) {
  body {
    height: 100%;
  }
  .landingmain .content .sides {
    padding: 20px;
  }
  .landingmain .content .sides:nth-child(1) {
    flex-flow: column-reverse;
  }
  .landingmain .content .sides:nth-child(1) .headercontent {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
  }
  .landingmain .content .sides:nth-child(1) .headercontent:nth-child(1) {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .landingmain .content .sides:nth-child(1) .headercontent:nth-child(1) h3 {
    width: 100%;
    display: none;
  }
  .landingmain .content .sides:nth-child(1) .headercontent:nth-child(1) h1 {
    width: 100%;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
  }
  .landingmain .content .sides:nth-child(1) .headercontent:nth-child(1) p {
    width: 70%;
  }
  .landingmain .content .sides:nth-child(1) .headercontent:nth-child(2) {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0px;
    position: relative;
  }
  .landingmain .content .sides:nth-child(1) .headercontent:nth-child(2) .profile_img {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 9;
  }
  .landingmain .content .sides:nth-child(1) .headercontent:nth-child(2) .profile_img .circle {
    position: absolute;
    top: 30px;
    left: -40px;
    width: 140px;
    height: 140px;
    background-image: url("../img/circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 7;
    opacity: 0.5;
    animation: spin 57s linear infinite; /* Adjust the duration (5s) and timing function (linear) as needed */
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .landingmain .content .sides:nth-child(1) .headercontent:nth-child(2) h3 {
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 35px;
    font-family: "Astral_Studio";
    z-index: 9;
  }
}/*# sourceMappingURL=style.css.map */