*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'Vogue';
    src: url('../font/Empire.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Astral_Studio';
    src: url('../font/Astral_Studio.ttf') format('truetype');
  }


body{
    width:100%;
    // overflow: hidden;
    background-image: url("../img/long_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}



        /* CSS for the loading indicator */
        #loadings {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100svh;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            z-index: 9999;
        }

        #loading-text {
            font-size: 24px;
        }







.popup{
    background-color: rgba(0, 0, 0, 0.849);
    position: fixed;
    top:0; left:0;
    width:100%;
    height:100%;
    z-index:99;

    display:none;

    justify-content: center;
    align-items: center;
    padding:20px;

    img{
        display:none;
    }

    
    @media (max-width:575px) {
        img{
            width:100%;
        }

    }
}


.landingmain{
    height:100%;
    width:1318px;
    display:none;


    padding:20px;


    @media (max-width:1318px) {
        width:100% !important;
    }



    .navs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row;

        .icons{
            overflow: hidden;
            img{
                width:65px;
                left:-100px;
                position: relative;
                transition: .4s;
            }
        }

        .menu{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row;
            gap:40px;
            font-size: large;
            overflow: hidden;

            a{
                top:-100px;
                position: relative;
                transition: .3s;
                text-decoration: none;
                color:white;

                &:hover{
                    color: #feb066;
                }
            }
        }
        .contact{
            .memberbtn{
                padding:10px 20px;
                border-radius:10px;
                border:none;
                outline:0;
                color: #16433f;
                background-color: #feb066;
                display:none;
            }
        }
    }


    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        height:100%;
        width:100%;
        margin-top:20px;


        .sides{
            // border: 1px solid black;
            width:100%;
            height:100%;;
            padding:0px 0px 0px 100px;

            @media (max-width:1116px) {
                padding:0px;
            }
        }

        .sides:nth-child(1){
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row;

            .headercontent{
                // border: 1px solid black;
            }

            .headercontent:nth-child(1){
                flex: 1;
                padding:10px;

                h3{
                    font-family: 'Astral_Studio';
                    font-size:35px;
                }

                h1{
                    font-family: 'Vogue';
                    font-size: 50px;
                    line-height:50px;
                }

                p{
                    text-indent:10px;
                    margin-top:10px;
                    width:300px;
                    text-align: justify;
                }

                @media (max-width:1244px) {
                    h1{
                        font-family: 'Vogue';
                        font-size: 40px;
                        line-height:50px;
                    }
                }
                
                @media (max-width:535px) {
                    p{
                        width:100%;
                    }
                }
                @media (max-width:478px) {
                    h1{
                        line-height:24px !important;
                        width: 100%;
                        font-size:25px !important;
                    }
                }
                
            }
            .headercontent:nth-child(2){

                position: relative;


                

                flex: 1.20;
                .profile_img{
                    position: relative;
                    width: 350px;
                    height:350px;
                    margin-left:50px;
                    border-radius: 15px;
                    background-image: url('../img/profile.png');
                    background-position: top;
                    background-repeat: no-repeat;
                    background-size: cover;


                    .circle {
                        position: absolute;
                        top: 200px;
                        right: -66px;
                        width: 140px;
                        height: 140px;
                        background-image: url('../img/circle.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        z-index: 7;
                        opacity: 0.6;
                        animation: spin 57s linear infinite; /* Adjust the duration (5s) and timing function (linear) as needed */
                    }
    
   
                }
                padding:10px;

                @media (max-width:478px) {
                    .profile_img{
                        width: 100%;
                    }
                }
            }
        }


        .sides:nth-child(2){
            margin-top:30px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row;

            width:100%;
            gap:20px;
           

            .vertex{
                // border:1px solid black;
            }

            .vertex:nth-child(1){
                flex:1.50;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                flex-flow: row;
                gap:10px;


                .boxs{
                    .box_inside{
                        height:10px;
                        width:100%;
                        // border: 1px solid rgba(0, 0, 0, 0.219);
                    }

                    position: relative;
                    border: 1px solid rgba(0, 0, 0, 0.219);
                    flex: 1;
                    height:200px;
                    width: 190.5px;
                    border-radius:0px 20px 0px 20px;
                    overflow: hidden;

         
                    color: black;

                    h1{
                        font-family: 'Vogue';
                        font-weight: bold;
                        margin-top: 10px;
                        padding:10px 10px 0px 10px;

                        
                        span{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                    }
                    p{
                        margin-top:5px;
                        padding:0px 10px 0px 10px;
                        font-size: smaller;
                    }
                }

                .boxs:nth-child(1){
                    background-color: #feb066;
                    animation-delay: 100ms; /* Delay in milliseconds */
                }
                .boxs:nth-child(2){
                    background-color: ghostwhite;
                    animation-delay: 520ms; /* Delay in milliseconds */
                }
                .boxs:nth-child(3){
                    background-color: ghostwhite;
                    animation-delay: 1130ms; /* Delay in milliseconds */
                }

                @media (max-width:684px) {
                    flex-flow: column;

                    .boxs{
                        width:100%;
                        padding:10px;
                        p{
                            font-size: smaller;
                            margin-bottom:20px;
                        }
                    }
                }
            }

            .vertex:nth-child(2){
                flex:1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                flex-flow: column;
                width:100%;
                padding:30px;
                
                
                p{
                    opacity:.8;
                    .quot{
                        font-size: larger;
                        color: #feb066;
                        display: inline-block;
                    }
                    font-size: smaller;
                        padding:20px;
                }

                .subs{
                    margin-top:10px;
                    border-radius:10px;
                    padding:1px 10px;
                    width:80%;
                    background-color: #feb066;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    flex-flow: row;

                    input{
                        
                        border-radius:10px;
                        padding:4px 10px;
                        background-color: #16433f;
                        width:100%;
                    }

                    .subms{
                        color: #16433f;
                    }

                   
                }

                @media (max-width:1112px) {
                    .subs{
                        width:540px !important;
                    }
                }

                @media (max-width:580px) {
                    .subs{
                        width:90% !important;
                    }
                }

                @media (max-width:474px) {
                    .subs{
                        width:100% !important;
                    }
                }


                @media (max-width:554px) {
                    width:100%;
                    padding: 10px;

                    p{
                        width:100%;
                        text-align: center;
                    }
                }
            }


            @media (max-width:1116px) {
                flex-flow: column;
                justify-content: center;
                .vertex{
                    width:100%;
                }
            }

        }

        
    }




    @media (max-width:796px) {
        .navs{

            .menu{
                display:none;
            }

            .contact{
                .memberbtn{
                    display:none;
                }
            }
        }
    }

}


@media (max-width:950px) {

    body{
        height:100%;
    }

    .landingmain{
        .content{
            .sides{
                padding:20px;
            }
            .sides:nth-child(1){
                flex-flow: column-reverse;

                

                .headercontent{
                    flex: 1;
                    width:100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: row;
                }

                .headercontent:nth-child(1){
                    flex: 1;
                    width:100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column;

                    h3{
                        width:100%;
                        display:none;
                    }

                    h1{
                        width:100%;
                        line-height:40px;
                        font-size: 35px;
                        text-align:center;
                    }
                    p{
                        width:100%;
                    }
                }

                .headercontent:nth-child(2){
                    flex: 1;
                    width:100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column;
                    padding:0px;
                    position: relative;

                    .profile_img{
                        margin:0;
                        margin-top:20px;
                        margin-bottom:20px;
                        z-index: 9;

                        .circle {
                            position: absolute;
                            top: 30px;
                            left: -40px;
                            width: 140px;
                            height: 140px;
                            background-image: url('../img/circle.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                            z-index: 7;
                            opacity: 0.5;
                            animation: spin 57s linear infinite; /* Adjust the duration (5s) and timing function (linear) as needed */
                        }
                    }


                    
                    @keyframes spin {
                        from {
                            transform: rotate(0deg);
                        }
                        to {
                            transform: rotate(360deg);
                        }
                    }
                    

                    h3{
                        position: absolute;
                        top:30px;
                        left:10px;
                        font-size: 35px;
                        font-family:'e';
                        z-index:9;
                    }


                }
            }
        }
    }
}



 